
.container 
{

background-color: beige;
padding: 10px;
}

.form-control
 {
     width: 90%;
     padding: 5px;
     margin: 5px;


}

.form-btn
{
    display: block;
    margin: 5px;
    padding: 1px;
    height: 20%;
    width: 10%;

}

.form-btn:hover
{
    cursor: pointer;
}